/*
 * RIGHT HALF overlay - updated for pimoroni,pim447 driver module.
 *
 * Column GPIO pins for the right half:
 *   Col 7:  &pro_micro 21  (A6/D21)
 *   Col 8:  &pro_micro 16  (A2/D16)
 *   Col 9:  &pro_micro 10  (D10)
 *   Col 10: &pro_micro 9   (D9)
 *   Col 11: &pro_micro 18  (A3/D18)
 *   Col 12: &pro_micro 14  (A0/D14)
 *
 * PIM447 Trackball on I2C (SDA=D2, SCL=D3), address 0x0A.
 */

#include "splitkb.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        , <&pro_micro 9  GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        ;
};

&pro_micro_i2c {
    status = "okay";

    trackball: trackball@a {
        compatible = "pimoroni,pim447";
        reg = <0xa>;
        status = "okay";
        poll-interval-ms = <15>;
    };
};

&trackball_split {
    device = <&trackball>;
};
